@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Merriweather:wght@400;700&family=Monoton&display=swap');


#video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
}
.fullvHeight{
    min-height: 80vh;
    /* border: 1px solid black; */

}

.skillsheader{
    text-align: center;
    padding-bottom: 50px;
  }

  .skillstop{
    padding-top: 40px;
    color:white;
    font-family: 'Merriweather', serif;
    font-weight: 600;
  
  }
  .skillsinfo{
    font-family: 'Merriweather', serif;
  }

 /* .cardonhover{
   -webkit-transition: all .3s; 
     -ms-transition: all .3s; 
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg);
 } */

 .cardonhover{
  animation: rotate 1s linear;
 }
 

 @keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
